/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    background-color:#B71C1C !important;
    border-color:#ffffff;
    color:#ffffff;
}

.btn-success{
    border-color:#ffffff;
    background-color:#B71c1c !important;
}

.btn-success:hover{
    border-color:#B71c1c;
}
