/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    background-color:#B71C1C !important;
    border-color:#ffffff;
    color:#ffffff;
}

.btn-success{
    border-color:#ffffff;
    background-color:#B71c1c !important;
}

.btn-success:hover{
    border-color:#B71c1c;
}

.txt_format{
    color:#B71c1c !important;
    font-weight: bold !important;
}

/* START: Input label */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

/* active state */
.input_label{
    color: #B71c1c !important;
}

/* BOTTOM BARS ================================= */
.mdl-textfield__label:before,
.mdl-textfield__label:after {
  background: #B71c1c !important;
}

/* END: Input label */